.list_name {
    font-size: 1.5rem;
    margin-left: 10px;
}

.input_container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit_field {
    border: none;
    border-bottom: 2px solid #AD00FF;
    font-size: 1.45rem;
    background-color: #F7E6FF;
    color: black;
}

.submit_field::placeholder {
    color: black;
    text-align: center;
}

.submit_btn {
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 1.4rem;
    color: #AD00FF;
}